:root {
    --purple: #761fff;
    --blue: #00ffff;
    --white: #ffffff;
    --fg-color: var(--purple);
}

.dark-mode:root{
    --fg-color: var(--white);
}

body{
    background-color: var(--purple);
    font-family: "Josefin Sans", -apple-system, BlinkMacSystemFont,
    'Segoe UI', Helvetica, 'Apple Color Emoji', Arial, sans-serif,
    'Segoe UI Emoji', 'Segoe UI Symbol';
    font-weight: 400;
    padding: 10px;
}

.notion-h1, .notion-h2, .notion-h3 {
    text-align: center;
    width: 100%;
    margin: 0;
}

.notion-page.index-page {
    margin-top: -145px;
}

.notion-title{
    font-style: italic;
    font-weight: 800;
    margin-top: 60px;
}

.index-page .notion-page-icon-hero.notion-page-icon-image,
.index-page .notion-page-icon-hero.notion-page-icon-image span, 
.index-page .notion-page-icon-hero.notion-page-icon-image img {
    border-radius: 0;
    box-shadow: none;
}

.notion-header .breadcrumb .notion-page-icon-inline {
    background-color: var(--purple);
    border-radius: 50%;
}

.notion-header .breadcrumb .icon {
    top: -3px;
    background-color: var(--purple);
    height: 20px!important; 
    width: 20px!important;
    border-radius: 50px;
}

.notion-frame{
    padding-top:0;
    height: auto!important;
}

.notion-page-cover-wrapper, 
.notion-page-cover-wrapper span, 
.notion-page-cover-wrapper img{
    min-height: 250px!important;
}

.notion-page-cover-wrapper, 
.notion-page-cover-wrapper span, 
.notion-page-cover-wrapper img {
    height: 100%!important;
    object-position: center 100%!important;
}

.notion-hr{
    border-color: var(--blue);
}

.notion-page-icon-wrapper {
    top: -10px !important;
    max-height:min-content;
}

/* .notion-page-icon-wrapper img.notion-page-icon{
    box-shadow: none!important;
    top: -25px!important;
    max-height: 150px;
    max-width: 150px;
    height: 150px;
    width: 150px;
}

.notion-page-content-inner > h3{
    text-align: center;
    display: block;
    width: 100%;
    margin-top:0;
} */

.notion-page-content>article :last-child{
    margin-bottom: 0!important;
}

figure.notion-asset-wrapper-drive {
    margin: 0!important;
    padding: 0 20px;

}

/* figure.notion-asset-wrapper-drive > div {
    width: 100%;
} */

/* form {
    min-width: min-content;
    margin: 0 auto;
    padding: 10px 20px;
    color: var(--purple)!important;
    background: var(--white);
}

form label, form input, form select, form textarea{
    color: var(--purple)!important;
}

form select{
    width: 100%;
}
  
form p {
    background-color: var(--blue);
    text-align: center;
}

textarea{
    width: 100%;
    max-width: 100%;
    height: 60px;
    padding:5px;
}
  
form p.error::before {
    display: inline;
    content: "⚠ ";
}

.demo-form__footer{
    position: fixed;
    width: calc(100% - 17px);
    right: 8px;
    bottom: 10px;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-between;
    left: 8px;
    background: var(--white);
}

.demo-form__footer > *{
    flex: 1;
}
  
input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    border-radius: 4px;
    border: 1px solid var(--purple);
    padding: 10px 15px;
    margin-bottom: 10px;
    font-size: 14px;
}

input[type="checkbox"] {
    width: auto;
    display: inline-block;
}

input[type="checkbox"] + label{
    display: inline-block;
    margin-left: 5px;
}

label {
    line-height: 2;
    text-align: left;
    display: block;
    margin-bottom: 13px;
    margin-top: 20px;
    color: white;
    font-size: 14px;
    font-weight: 300;
}

button[type="submit"],
input[type="submit"],
button[type="button"],
input[type="button"]{
    background: var(--white);
    color: var(--purple);
    text-transform: uppercase;
    border: none;
    margin-top: 5px;
    padding: 20px;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 10px;
    transition: all .2s cubic-bezier(0.23, 1, 0.320, 1);
}

button[type="button"]:hover,
input[type="button"]:hover,
button[type="submit"]:hover,
input[type="submit"]:hover {
    filter: brightness(95%);
}

button[type="button"]:active,
button[type="submit"]:active,
input[type="button"]:active,
input[type="submit"]:active {
    transition: 0.3s all;
    transform: translateY(3px);
    border: 1px solid transparent;
    opacity: 0.8;
}

input:disabled {
    opacity: 0.4;
}

input[type="button"]:hover {
    transition: 0.3s all;
}

button[type="button"],
button[type="submit"],
input[type="button"],
input[type="submit"] {
    -webkit-appearance: none;
} */

/* Teams and projects */
.notion-collection-header {
    display: none;
}

.notion-page-content-has-aside{
    max-width: 100% !important;
}